language: swift
osx_image: xcode12.5
cache: bundler
xcode_project: web3swift.xcworkspace
xcode_scheme: web3swift-iOS
xcode_destination: platform=iOS Simulator, OS=14.5, name=iPhone 12
before_install:
 - brew install carthage || true
 - brew outdated carthage || brew upgrade carthage
 - carthage update --use-xcframeworks
before_script:
 - carthage bootstrap --platform iOS
script:
  - xcodebuild -scheme web3swift -project web3swift.xcodeproj -sdk iphonesimulator14.5 -destination 'platform=iOS Simulator,name=iPhone 12,OS=14.5' build test
after_success:
  - bash <(curl -s https://codecov.io/bash)
